# This is a basic workflow that is manually triggered

name: Update Readme on push

# Controls when the action will run.
on:
  push:
    # Sequence of patterns matched against refs/heads
    branches:    
      # Push events on main branch
      - master

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  update_readme:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v2
    # Runs a single command using the runners shell
    - name: Update README
      run: |
        chmod +x "${{ github.workspace }}/update_readme.sh"
        "${{ github.workspace }}/update_readme.sh"
    - name: Update resources
      uses: test-room-7/action-update-file@v1
      with:
        file-path: README.md
        commit-msg: Update readme
        github-token: ${{ secrets.GITHUB_TOKEN }}